---
import { log } from "@acdh-oeaw/lib";
// import type { GetStaticPathsResult } from "astro";
import * as v from "valibot";

import DefaultLayout from "@/components/default-layout.astro";
import DocumentBody from "@/components/document-body.astro";
import DocumentHead from "@/components/document-head.astro";
import DocumentMetadata from "@/components/document-metadata.astro";
import HtmlDocument from "@/components/html-document.astro";
import { sendEmail } from "@/lib/email/send-email";
import { getTranslations } from "@/lib/i18n/get-translations";
// import { locales } from "@/lib/i18n/locales";
// import { localeToPrefix } from "@/lib/i18n/routing";

export const prerender = false;

// export function getStaticPaths() {
// 	const paths = locales.map((locale) => {
// 		return { params: { locale: localeToPrefix[locale] } };
// 	});

// 	return paths satisfies GetStaticPathsResult;
// }

const { locale } = Astro.locals;
const t = await getTranslations(locale, "ContactPage");

let status = { kind: "initial" } as
	| { kind: "error"; message: string }
	| { kind: "initial" }
	| { kind: "success"; message: string };

if (Astro.request.method === "POST") {
	try {
		const formData = await Astro.request.formData();

		const schema = v.object({
			name: v.pipe(v.string(), v.nonEmpty()),
			email: v.pipe(v.string(), v.email()),
			message: v.pipe(v.string(), v.nonEmpty()),
			subject: v.pipe(v.string(), v.nonEmpty()),
		});

		const result = v.safeParse(schema, {
			name: formData.get("name"),
			email: formData.get("email"),
			message: formData.get("message"),
			subject: formData.get("subject"),
		});

		if (!result.success) {
			status = { kind: "error", message: t("form.status.invalid-input") };
		} else {
			const { name, email, message, subject } = result.output;

			await sendEmail({
				from: `${name} <${email}>`,
				subject,
				text: message,
				attachments: [],
			});

			status = { kind: "success", message: t("form.status.success") };
		}
	} catch (error) {
		log.error(error);
		status = { kind: "error", message: t("form.status.unknown-error") };
	}
}
---

<HtmlDocument>
	<DocumentHead>
		<DocumentMetadata title={t("meta.title")} />
	</DocumentHead>

	<DocumentBody>
		<DefaultLayout>
			<section class="richtext max-w-(--breakpoint-md)">
				<h1>{t("title")}</h1>

				<form class="flex flex-col gap-y-6" data-astro-reload method="post">
					<label class="flex flex-col gap-y-1">
						<span class="text-sm font-medium">{t("form.name")}</span>
						<input
							class="rounded border border-stroke-strong px-4 py-1.5 focus-outline"
							name="name"
							required={true}
						/>
					</label>

					<label class="flex flex-col gap-y-1">
						<span class="text-sm font-medium">{t("form.email")}</span>
						<input
							class="rounded border border-stroke-strong px-4 py-1.5 focus-outline"
							name="email"
							required={true}
							type="email"
						/>
					</label>

					<label class="flex flex-col gap-y-1">
						<span class="text-sm font-medium">{t("form.subject")}</span>
						<input
							class="rounded border border-stroke-strong px-4 py-1.5 focus-outline"
							name="subject"
							required={true}
						/>
					</label>

					<label class="flex flex-col gap-y-1">
						<span class="text-sm font-medium">{t("form.message")}</span>
						<textarea
							class="rounded border border-stroke-strong px-4 py-1.5 focus-outline"
							name="message"
							required={true}
							rows={5}></textarea>
					</label>

					<div>
						<button
							class="relative inline-flex min-w-42 justify-center rounded-sm bg-background-inverse px-6 py-3.5 text-center text-sm font-semibold text-text-inverse-strong no-underline shadow-sm focus-outline transition hover:brightness-120 focus-visible:outline-offset-4 dark:hover:brightness-90"
							type="submit"
						>
							{t("form.submit")}
						</button>
					</div>

					<div
						aria-atomic="true"
						aria-live="polite"
						class={status.kind === "error"
							? "text-text-negative"
							: status.kind === "success"
								? "text-text-positive"
								: undefined}
						role="status"
					>
						{status.kind !== "initial" ? status.message : null}
					</div>
				</form>
			</section>
		</DefaultLayout>
	</DocumentBody>
</HtmlDocument>
