---
import { Image } from "astro:assets";

import MainContent from "@/components/main-content.astro";
import { locales } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { getImageImport } from "@/lib/get-image-import";
import { createI18n } from "@/lib/i18n";
import { createSingletonResource } from "@/lib/keystatic/resources";
import { pageSection, pageTitle } from "@/styles/components";

export function getStaticPaths() {
	return Promise.all(
		locales.map(async (locale) => {
			const page = await createSingletonResource("index-page", locale).read();

			return { params: { locale }, props: { page } };
		}),
	);
}

const { locale } = Astro.params;

const { page } = Astro.props;

const { t } = await createI18n(locale);

const documentTitle = t("IndexPage.meta.title");
const { hero } = page.data;
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<section class={pageSection}>
			<div>
				<Image
					alt=""
					decoding="auto"
					fetchpriority="high"
					loading="eager"
					src={getImageImport(hero.image)}
				/>
				<h1 class={pageTitle}>{hero.title}</h1>
				<p>{hero.lead}</p>
			</div>
		</section>
	</MainContent>
</PageLayout>
