---
import { Icon } from "astro-icon/components";

import Link from "@/components/link.astro";
import LocaleSwitcher from "@/components/locale-switcher.astro";
import Logo from "@/components/logo.astro";
import MobileNavMenu from "@/components/mobile-nav-menu.svelte";
import MobileNavMenuToggle from "@/components/mobile-nav-menu-toggle.svelte";
import NavigationMenu from "@/components/navigation-menu.svelte";
import Search from "@/components/search.astro";
import { createClient } from "@/lib/content/create-client";
import { getTranslations } from "@/lib/i18n/get-translations";
import { getIntlLanguage } from "@/lib/i18n/locales";
import { createHref } from "@/lib/navigation/create-href";
import type { NavigationLink } from "@/lib/navigation/navigation";

const { locale } = Astro.locals;
const t = await getTranslations(locale, "DefaultHeader");

const links = {
	home: {
		type: "link",
		href: createHref({ pathname: "/" }),
		label: t("navigation.items.home"),
	},
} satisfies Record<string, NavigationLink>;

const client = await createClient(getIntlLanguage(locale));

const navigation = await client.singletons.navigation.get();
---

<header class="border-b border-stroke-weak">
	<div class="container flex flex-wrap items-center justify-between gap-x-6 px-4 py-4 sm:px-8">
		<nav aria-label={t("navigation.label")} class="flex flex-1 items-center gap-x-6">
			<Link class="-ml-2 inline-block shrink-0 rounded-xs p-2 focus-outline" href={links.home.href}>
				<Logo class="block h-8 w-auto shrink-0" />
				<span class="sr-only">{links.home.label}</span>
			</Link>

			<ul class="hidden flex-wrap items-center gap-x-4 lg:flex" role="list">
				{
					Object.values(navigation).map((item) => {
						switch (item.type) {
							case "link": {
								return (
									<li>
										<Link
											class="inline-flex rounded-xs p-2 font-medium text-text-weak focus-outline transition hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4"
											href={item.href}
										>
											{item.label}
										</Link>
									</li>
								);
							}

							case "menu": {
								return (
									<li>
										<NavigationMenu
											className="group inline-flex items-center gap-x-2 rounded-xs p-2 font-medium text-text-weak focus-outline transition hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4"
											client:load="svelte"
											label={item.label}
										>
											<Fragment slot="chevron">
												<Icon
													aria-hidden={true}
													class="size-4 shrink-0 text-icon-neutral transition group-hover:text-text-strong group-focus-visible:text-text-strong"
													name="lucide:chevron-down"
												/>
											</Fragment>

											<div class="min-w-32 rounded-sm border border-stroke-weak bg-background-base shadow-lg">
												{Object.values(item.children).map((item) => {
													switch (item.type) {
														case "link": {
															return (
																<Link
																	class="flex rounded-xs p-2 font-medium text-text-weak focus-outline transition hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4"
																	href={item.href}
																>
																	{item.label}
																</Link>
															);
														}

														case "separator": {
															return <hr class="h-0 w-full border-t border-stroke-weak" />;
														}

														case "action": {
															break;
														}
													}
												})}
											</div>
										</NavigationMenu>
									</li>
								);
							}

							case "separator": {
								return <li class="h-6 border-r border-stroke-weak" role="presentation" />;
							}
						}
					})
				}
			</ul>

			<div class="ml-auto flex items-center lg:hidden">
				<MobileNavMenuToggle
					className="flex rounded-xs p-2 font-medium text-text-weak focus-outline transition hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4"
					client:idle="svelte"
				>
					<Icon aria-hidden={true} class="size-5 shrink-0" name="lucide:menu" />
				</MobileNavMenuToggle>
			</div>
		</nav>

		<div class="-mr-2 ml-auto hidden items-center gap-x-4 lg:flex">
			<Search />
			<LocaleSwitcher />
		</div>
	</div>

	<MobileNavMenu className="flex flex-col gap-y-4 px-4 pb-6 lg:hidden" client:idle="svelte">
		<ul class="flex flex-col" role="list">
			{
				Object.values(navigation).map((item) => {
					switch (item.type) {
						case "link": {
							return (
								<li>
									<Link
										class="flex rounded-xs p-2 font-medium text-text-weak focus-outline transition hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4"
										href={item.href}
									>
										{item.label}
									</Link>
								</li>
							);
						}

						case "menu": {
							return (
								<li>
									<details class="group">
										<summary class="flex items-center justify-between rounded-xs p-2 font-medium text-text-weak focus-outline transition select-none hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4">
											{item.label}
											<Icon
												aria-hidden={true}
												class="size-4 shrink-0 text-icon-neutral transition group-open:rotate-180 group-hover:text-text-strong group-focus-visible:text-text-strong"
												name="lucide:chevron-down"
											/>
										</summary>
										<ul class="flex flex-col pl-4" role="list">
											{Object.values(item.children).map((item) => {
												switch (item.type) {
													case "link": {
														return (
															<li>
																<Link
																	class="flex rounded-xs p-2 font-medium text-text-weak focus-outline transition hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4"
																	href={item.href}
																>
																	{item.label}
																</Link>
															</li>
														);
													}

													case "separator": {
														return (
															<hr
																class="h-0 w-full border-t border-stroke-weak"
																role="presentation"
															/>
														);
													}

													case "action": {
														break;
													}
												}
											})}
										</ul>
									</details>
								</li>
							);
						}

						case "separator": {
							return <li class="h-0 w-full border-t border-stroke-weak" role="presentation" />;
						}
					}
				})
			}
		</ul>

		<div class="flex items-center justify-between">
			<Search />
			<LocaleSwitcher />
		</div>
	</MobileNavMenu>
</header>
