---
import { Icon } from "astro-icon/components";

import ColorSchemeSwitcher from "@/components/color-scheme-switcher.astro";
import Link from "@/components/link.astro";
import Logo from "@/components/logo.astro";
import type { SocialMediaKind } from "@/lib/content/options";
import { getMetadata } from "@/lib/i18n/get-metadata";
import { getTranslations } from "@/lib/i18n/get-translations";
import { createHref } from "@/lib/navigation/create-href";
import type { NavigationLink } from "@/lib/navigation/navigation";

const { locale } = Astro.locals;
const t = await getTranslations(locale, "DefaultFooter");
const meta = await getMetadata(locale);

const links = {
	home: {
		type: "link",
		href: createHref({ pathname: "/" }),
		label: t("navigation.items.home"),
	},
	imprint: {
		type: "link",
		href: createHref({ pathname: "/imprint" }),
		label: t("navigation.items.imprint"),
	},
} satisfies Record<string, NavigationLink | { type: "text"; label: string }>;

const socialMediaIcons = {
	bluesky: "simple-icons:bluesky",
	email: "lucide:mail",
	facebook: "simple-icons:facebook",
	flickr: "simple-icons:flickr",
	github: "simple-icons:github",
	instagram: "simple-icons:instagram",
	linkedin: "simple-icons:linkedin",
	mastodon: "simple-icons:mastodon",
	orcid: "simple-icons:orcid",
	rss: "lucide:rss",
	twitter: "simple-icons:twitter",
	youtube: "simple-icons:youtube",
};

const socialMedia = [];

for (const [id, href] of Object.entries(meta.social)) {
	const kind = id as SocialMediaKind;

	/** Used for `creator` link. */
	if (kind === "website") {
		continue;
	}

	socialMedia.push({
		type: "link",
		href,
		label: t(`navigation-social-media.items.${kind}`),
		icon: socialMediaIcons[kind],
	});
}
---

<footer class="border-t border-stroke-weak">
	<div class="container flex flex-col gap-y-6 px-4 py-12 sm:px-8">
		<div class="flex flex-col gap-y-8 xs:flex-row xs:items-center xs:justify-between">
			<Link class="-ml-2 inline-block shrink-0 rounded-xs p-2 focus-outline" href={links.home.href}>
				<Logo class="h-8 w-auto shrink-0" />
				<span class="sr-only">{links.home.label}</span>
			</Link>

			<nav aria-label={t("navigation-social-media.label")}>
				<ul class="flex flex-wrap items-center gap-x-6 gap-y-3" role="list">
					{
						socialMedia.map((link) => {
							return (
								<li class="shrink-0">
									<Link
										class="touch-target inline-block rounded-xs text-icon-neutral focus-outline transition hover:text-text-strong focus-visible:text-text-strong focus-visible:outline-offset-4"
										href={link.href}
									>
										<Icon aria-hidden={true} class="size-6" name={link.icon} />
										<span class="sr-only">{link.label}</span>
									</Link>
								</li>
							);
						})
					}
				</ul>
			</nav>
		</div>

		<div class="flex flex-col gap-y-8">
			<nav aria-label={t("navigation.label")}>
				<ul
					class="-mx-2 flex flex-wrap items-center gap-x-2 gap-y-3 text-sm text-text-weak"
					role="list"
				>
					{
						Object.entries(links).map(([id, link]) => {
							if (id === "home") {
								return null;
							}

							return (
								<li>
									<Link
										class="rounded-xs p-2 underline decoration-dotted underline-offset-4 transition hover:decoration-solid focus-visible:text-text-strong focus-visible:outline-offset-4"
										href={link.href}
									>
										{link.label}
									</Link>
								</li>
							);
						})
					}
				</ul>
			</nav>

			<ColorSchemeSwitcher />

			<small class="text-xs text-text-weak">
				&copy; {new Date().getUTCFullYear()}{" "}
				<a
					class="rounded-xs p-2 underline decoration-dotted underline-offset-4 transition hover:decoration-solid focus-visible:text-text-strong focus-visible:outline-offset-4"
					href={meta.social.website}
				>
					{meta.creator}
				</a>
			</small>
		</div>
	</div>
</footer>
