---
import { Image } from "astro:assets";

import { defaultLocale, type Locale } from "@/config/i18n.config";
import { createSingletonResource } from "@/lib/keystatic/resources";
import { createI18n } from "@/lib/i18n";
import logoDark from "~/public/assets/images/acdh-ch-logo-dark.svg";
import logoLight from "~/public/assets/images/acdh-ch-logo-light.svg";
import Link from "@/components/content/link.astro";
import { NavigationMenu } from "@/components/navigation-menu";

const locale = (Astro.currentLocale as Locale | undefined) ?? defaultLocale;
const { t } = await createI18n(locale);
const navigation = await createSingletonResource("navigation", locale).read();

const home = t("WebsiteHeader.links.home");
---

<header class="border-b">
	<div class="container py-4">
		<nav>
			<ul class="flex gap-x-6" role="list">
				<li>
					<a href="/">
						<Image
							alt=""
							class="h-6 w-auto block dark:hidden"
							decoding="auto"
							fetchpriority="high"
							src={logoLight}
						/>
						<Image
							alt=""
							class="h-6 w-auto hidden dark:block"
							decoding="auto"
							fetchpriority="high"
							src={logoDark}
						/>
						<span class="sr-only">{home}</span>
					</a>
				</li>
				{
					navigation.data.links.map((item) => {
						switch (item.discriminant) {
							case "link": {
								return (
									<li>
										<Link link={item.value.link}>{item.value.label}</Link>
									</li>
								);
							}

							case "menu": {
								return (
									<li>
										<NavigationMenu client:load label={item.value.label}>
											<ul role="list">
												{item.value.items.map((item) => {
													switch (item.discriminant) {
														case "link": {
															return (
																<li>
																	<Link link={item.value.link}>{item.value.label}</Link>
																</li>
															);
														}

														case "separator": {
															return <li aria-orientation="horizontal" role="separator" />;
														}
													}
												})}
											</ul>
										</NavigationMenu>
									</li>
								);
							}

							case "separator": {
								return <li aria-orientation="vertical" role="separator" />;
							}
						}
					})
				}
			</ul>
		</nav>
	</div>
</header>
