---
import { Image } from "astro:assets";

import ColorSchemeSwitcher from "@/components/color-scheme-switcher.astro";
import LocaleSwitcher from "@/components/locale-switcher.astro";
import MobileNav from "@/components/navigation/mobile-nav.astro";
import MobileNavToggle from "@/components/navigation/mobile-nav-toggle.astro";
import NavMenu from "@/components/navigation/nav-menu.astro";
import NavMenuItem from "@/components/navigation/nav-menu-item.astro";
import NavMenuLink from "@/components/navigation/nav-menu-link.astro";
import NavMenuPopover from "@/components/navigation/nav-menu-popover.astro";
import NavMenuTrigger from "@/components/navigation/nav-menu-trigger.astro";
import Navigation from "@/components/navigation/navigation.astro";
import Search from "@/components/search.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import { createSingletonResource } from "@/lib/content/create-resource";
import { createI18n } from "@/lib/i18n";
import logoDark from "~/public/assets/images/acdh-ch-logo-dark.svg";
import logoLight from "~/public/assets/images/acdh-ch-logo-light.svg";

const locale = (Astro.currentLocale as Locale | undefined) ?? defaultLocale;
const { t } = await createI18n(locale);
const navigation = await createSingletonResource("navigation", locale).read();

const home = t("WebsiteHeader.links.home");
---

<header class="border-b">
	<div
		class="mx-auto flex w-full max-w-screen-lg items-center justify-between px-4 py-6 text-sm font-medium"
	>
		<Navigation class="flex-1" label={t("WebsiteHeader.navigation-primary")}>
			<NavMenuLink class="-ml-4 inline-flex shrink-0 items-center gap-x-2" href="/">
				<Image
					alt=""
					class="block size-8 dark:hidden"
					fetchpriority="high"
					loading="eager"
					src={logoLight}
				/>
				<Image
					alt=""
					class="hidden size-8 dark:block"
					fetchpriority="high"
					loading="eager"
					src={logoDark}
				/>
				<span>{home}</span>
			</NavMenuLink>

			<ul class="hidden flex-1 flex-wrap items-center gap-x-2 lg:flex" role="list">
				{
					navigation.data.links.map((item) => {
						switch (item.discriminant) {
							case "link": {
								const { label, href } = item.value;

								return (
									<li>
										<NavMenuLink href={href}>{label}</NavMenuLink>
									</li>
								);
							}

							case "page": {
								const { id, label } = item.value;

								return (
									<li>
										<NavMenuLink href={`/${id}`}>{label}</NavMenuLink>
									</li>
								);
							}

							case "menu": {
								const { label, links } = item.value;

								return (
									<li>
										<NavMenu>
											<NavMenuTrigger>{label}</NavMenuTrigger>
											<NavMenuPopover>
												<ul role="list">
													{links.map((link) => {
														switch (link.discriminant) {
															case "link": {
																const { label, href } = link.value;

																return (
																	<li>
																		<NavMenuItem href={href}>{label}</NavMenuItem>
																	</li>
																);
															}

															case "page": {
																const { id, label } = link.value;

																return (
																	<li>
																		<NavMenuItem href={`/${id}`}>{label}</NavMenuItem>
																	</li>
																);
															}

															case "separator": {
																return <hr />;
															}

															default: {
																return null;
															}
														}
													})}
												</ul>
											</NavMenuPopover>
										</NavMenu>
									</li>
								);
							}

							default: {
								return null;
							}
						}
					})
				}
			</ul>

			<div class="ml-auto lg:hidden">
				<MobileNavToggle />
			</div>
		</Navigation>

		<div class="-mr-4 hidden items-center gap-x-4 lg:mr-0 lg:flex">
			<Search />
			<ColorSchemeSwitcher />
			<LocaleSwitcher />
		</div>
	</div>

	<MobileNav />
</header>
