---
import "@fontsource-variable/roboto-flex/standard.css";
import "@/styles/index.css";

import { isNonEmptyString } from "@acdh-oeaw/lib";
import roboto from "@fontsource-variable/roboto-flex/files/roboto-flex-latin-standard-normal.woff2";
import { type ImageMetadata } from "astro";
import { type Article, type WebSite, type WithContext } from "schema-dts";

import MainContent, { id } from "@/components/main-content.astro";
import PageFooter from "@/components/page-footer.astro";
import PageHeader from "@/components/page-header.astro";
import SkipLink from "@/components/skip-link.astro";
import { metadata } from "@/config/metadata.config";
import { createAnalyticsScript } from "@/lib/analytics";
import { env } from "@/lib/env";
import { safeJsonLdReplacer } from "@/lib/safe-json-ld-replacer";

interface Props {
	/** @default true */
	bots?: boolean;
	description?: string;
	image?: ImageMetadata & { alt?: string };
	jsonLd?: WithContext<Article | WebSite>;
	title: string;
	/** @default 'website' */
	type?: "article" | "website";
}

const {
	bots = true,
	description = metadata.description,
	image = metadata.image,
	jsonLd,
	title,
	type,
} = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

const websiteJsonLd: WithContext<WebSite> = {
	"@context": "https://schema.org",
	"@type": "WebSite",
	name: metadata.title,
	description: metadata.description,
};
---

<html lang={metadata.locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="light dark" />
		<title>{[title, metadata.title].join(" | ")}</title>

		{bots === false ? <meta name="robots" content="nofollow, noindex" /> : null}

		<link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="any" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-icon.png" type="image/png" sizes="180x180" />
		<link rel="manifest" href="/site.webmanifest" />

		<link rel="canonical" href={canonicalUrl} />

		<meta name="description" content={description} />

		<meta property="og:type" content={type} />
		<meta property="og:locale" content={metadata.locale} />
		<meta property="og:url" content={canonicalUrl} />
		<meta property="og:site_name" content={metadata.title} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image.src, canonicalUrl)} />
		<meta property="og:image:width" content={String(image.width)} />
		<meta property="og:image:height" content={String(image.height)} />
		<meta property="og:image:type" content={"image/" + image.format} />
		<meta property="og:image:alt" content={image.alt ?? ""} />
		<slot name="open-graph" />

		<meta property="twitter:card" content="summary_large_image" />
		{
			isNonEmptyString(metadata.twitter) ? (
				<meta property="twitter:site" content={metadata.twitter} />
			) : null
		}

		<link rel="sitemap" href="/sitemap-index.xml" />

		<script
			type="application/ld+json"
			set:html={JSON.stringify(jsonLd ?? websiteJsonLd, safeJsonLdReplacer)}
		/>

		<link rel="preload" href={roboto} as="font" type="font/woff2" crossorigin="anonymous" />

		{
			isNonEmptyString(env.PUBLIC_MATOMO_BASE_URL) && isNonEmptyString(env.PUBLIC_MATOMO_ID) ? (
				<script
					is:inline
					set:html={createAnalyticsScript(env.PUBLIC_MATOMO_BASE_URL, env.PUBLIC_MATOMO_ID)}
				/>
			) : null
		}
	</head>

	<body class="grid min-h-full grid-rows-[auto_1fr_auto]">
		<SkipLink targetId={id}>Skip to main content</SkipLink>

		<PageHeader />
		<MainContent>
			<slot />
		</MainContent>
		<PageFooter />
	</body>
</html>
