---
import { type GetStaticPathsItem, type GetStaticPathsOptions } from "astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

import MainContent from "@/components/main-content.astro";
import PageTitle from "@/components/page-title.astro";
import Section from "@/components/section.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { getFullName } from "@/lib/get-full-name";
import { useLocale } from "@/lib/use-locale";
import { useTranslations } from "@/lib/use-translations";
import { type Locale, locales } from "@/config/i18n.config";

type Params = {
	locale: Locale;
};

type Props = {
	persons: Array<CollectionEntry<"persons">>;
};

interface Path extends GetStaticPathsItem {
	params: Params;
	props: Props;
}

export async function getStaticPaths(options: GetStaticPathsOptions): Promise<Array<Path>> {
	// TODO:
	const { paginate: _ } = options;

	return Promise.all(
		locales.map(async (locale) => {
			const collection = await getCollection("persons", (entry) => {
				return entry.id.startsWith(locale + "/");
			});

			const persons = collection.sort((a, z) => {
				return a.data.lastName.localeCompare(z.data.lastName, locale);
			});

			return {
				params: { locale },
				props: { persons },
			};
		}),
	);
}

const locale = useLocale(Astro);
const t = useTranslations(locale, "TeamPage");

const { persons } = Astro.props;
---

<PageLayout locale={locale} title={t("meta.title")}>
	<MainContent>
		<Section variant="header">
			<PageTitle>{t("title")}</PageTitle>
		</Section>

		<Section>
			<ul class="grid gap-16" role="list">
				{
					persons.map((person) => {
						const name = getFullName(person);

						return (
							<li>
								<article class="grid gap-8 sm:grid-cols-[auto_1fr]">
									<Image
										alt=""
										class="h-40 w-40 rounded-full border-2 object-contain"
										src={person.data.image}
									/>
									<div class="grid max-w-3xl content-start gap-2">
										<div>
											<h2 class="text-lg font-medium">{name}</h2>
											<a
												class="text-neutral-600 transition hover:underline"
												href={`mailto:${person.data.email}`}
											>
												{person.data.email}
											</a>
										</div>
										<div>{person.data.description}</div>
									</div>
								</article>
							</li>
						);
					})
				}
			</ul>
		</Section>
	</MainContent>
</PageLayout>
